[database]
host = localhost
port = 5432
dbname = dev_msh
user = postgres
password = postgres

[backlog]
ALX_BACKLOG_URL=
ALX_BACKLOG_APIKEY=

[S3 bucket]
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

[INTERNAL]
BASE_URL=http://192.168.10.89
USERNAME=thongnm
PASSWORD=minhthong@94

[ai]
GEMINI_API_KEY=
GROQ_API_KEY=

[Notification]
S3_POLL_INTERVAL_MINUTES=10

[IPADRESS]
IPADRESS_LIST=115.77.184.52, 14.161.21.113